@font-face{
    font-family: Pipboy;
    src: url('../monofonto.otf');
}

body{
    font-family: Pipboy, sans-serif;
    color: #51e52e;
    background: #272b23;
}

body::after{
    height:100%;
    width:100%;
    content:"";
    position:absolute;
    top:0px;
    left:0px;
    background: repeating-linear-gradient(0deg, rgba(0,0,0,.4),  rgba(0,0,0,.4) 1px, transparent 5px, transparent 2px);
    opacity:.6;
    z-index:1000000;
    pointer-events: none;
}

ul > li.nav-item > a.nav-link, ul > li.navbar-item.active > a.nav-link{
    color: #14fe17 !important;
    font-size: 32px;
    line-height: 22px;
    padding-bottom: 0px;
}

.navbar-light, .navbar-nav > li.nav-item > .nav-link,
.navbar-light, .navbar-nav > li.nav-item.active > .nav-link {
    text-align: center;
    margin: auto;
    font-size: 32px;
    line-height: 32px;
    z-index: 50;
    padding-bottom: 0px;
    position: relative;

}

.navbar{
    border-bottom: 2px solid;
    margin: 10px 10px;
}
.nav-item.active::before{
    content: "";
    position: absolute;
    background: #272b23;
    height: 32px;
    top: 18px;
    width: 10%;
    left: 6%;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
}

.navbar::before, .navbar::after {
    height: 7px;
    width: 2px;
    content: "";
    position: absolute;
    display: block;
    z-index: 5000;
    background: #14fe17;
    bottom: -8px;
}

.navbar::before{
    left:0px;
}

.navbar::after{
    right: 0px;
}

.navbar-nav{
    width: 100%;
}


.navbar-light li.navbar-nav > li {
    display: block;
    position: absolute;
    width: 100%;
}

.center-image img{
    margin: auto;
    display: block;
    position: relative;
    max-height: 300px;
    margin-top: 100px;
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(7) brightness(0.8) contrast(1.5);
} 

.pip-footer{
    position:fixed;
    bottom:0;
    width:calc(100% - 20px);
    margin: 10px;
    display: inline-block;
    font-size: 15px !important;
}

.nav.nav-tabs{
    margin: 20px;
    border-bottom: none;
}

.nav.nav-tabs > .nav-item > .nav-link:hover{
    border: 1px solid transparent;
}

.nav-tabs .nav-link.active{
    background: #272b23 !important;
    background-color: #272b23 !important;
    border-color: #272b23 #272b23 #272b23 !important;
}

ul > li.nav-item > a.nav-link{
    font-size: 22px !important;
}

.nav.nav-tabs > li:nth-child(2) > a{
    opacity: .6 !important;
}
.nav.nav-tabs > li:nth-child(3) > a{
    opacity: .3 !important;
}

.level-progress{
    width: 70%;
    height: 10px;
    border: 2px solid;
    display: inline-block;
}

.level-progress-indicator{
    height: 8px;
    background: #14fe17;
    position: relative;
    width: 70%;
}

.navbar.navbar-light.pip-footer{
    border: none;
}

.navbar.navbar-light.pip-footer::before{
    height: 0 !important;
}

.navbar.navbar-light.pip-footer::after{
    height: 0 !important;
}

.navbar.pip-footer .col-6{
    background: rgba(16, 255, 0, 0.15);
    margin:0px 2px;
    flex: 0 0 48%;
}

#pip-footer-col3{
    background: rgba(16, 255, 0, 0.15);
    flex: 0 0 48%;
    margin:0px 2px;
}