@font-face{
    font-family: Pipboy;
    src: url('../monofonto.otf');
}

/* body{
    font-family: Pipboy, sans-serif;
    color: #51e52e;
    background: #1b3d15;
}

body::after{
    height:100%;
    width:100%;
    content:"";
    position:absolute;
    top:0px;
    left:0px;
    background: repeating-linear-gradient(0deg, rgba(0,0,0,.4),  rgba(0,0,0,.4) 1px, transparent 1px, transparent 2px);
    opacity:.6;
    z-index:1000000;
    pointer-events: none;
}
*/
.center-image img{
    margin: auto;
    display: block;
    position: relative;
    max-height: 300px;
    margin-top: 100px;
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(7) brightness(0.8) contrast(1.5);
} 

.pip-footer{
    position:fixed;
    bottom:0;
    width:calc(100% - 20px);
    margin: 10px;
    display: inline-block;
}